th {
    text-align: middle;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
}
.search__panel {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
@media only screen and (max-width: 1133px) {
    .search__panel {
        flex-direction: column;
    }
}
.filter {
    display: flex;
}
.view {
    display: flex;
}
input {
    width: 30rem;
    height: 3rem;
    border: 1px solid #01579b;
}
input:not(:last-child) {
    margin-right: 1rem;
}
.view__table {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .5rem;
    fill: #01579b;
}
.view__card {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .5rem;
    fill: #01579b;
}
.btn.btn-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #01579b;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-transform: uppercase;
}
.btn.btn-link:focus, .btn.btn-link:active {
    outline: none;
    box-shadow: none;
}
.view__post:link, .view__post:visited {
    text-decoration: none;
    color: #01579b;
}
td {
    vertical-align: middle;
}
.card__view {
    margin-top: 2rem;
    width: 100%;
}
.card-view {
    min-height: 7rem;
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.user__svg {
    width: 6rem;
    height: 6rem;
    fill: #01579b;
    border: 1px solid #01579b;
}
.user__details {
    margin: 2rem 0;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight: bold;
    word-wrap: break-word;
}
h3, h4 {
    text-transform: uppercase;
    color: #37474f;
}
.view__user-posts {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #01579b;
}
.view__user-post:link, .view__user-post:visited {
    color: #fff;
    text-decoration: none;
}
.row {
    margin: 0 1rem 0 0;
}
.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); 
}
@media only screen and (max-width: 1329px) {
    .row [class^="col-"] {
      width: 100% !important; } }
.col-1-of-4 {
    margin-right: 2rem;
}