<div class="search__panel">
    <input type="text" placeholder="Name" (keyup)="getFilteredUsers($event)" class="form-control">
    <input type="text" placeholder="Company Name" (keyup)="getFilteredCompany($event)" class="form-control">
</div>
<table mat-table class="table table-striped table-hover" [dataSource]="listData">
<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>
<ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company Name</th>
    <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
</ng-container>
<ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
        <a href="/post/{{element.id}}" class="view__post">VIEW POSTS</a>
    </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="15" [pageSizeOptions]="[15, 25, 35, 50, 100]" showFirstLastButtons></mat-paginator>
<div class="loader_api" *ngIf="loaderStart">
    <mat-spinner></mat-spinner>
</div>